img {
    float: right;
  }

.column {
    float: left;
    width: 200px;
    margin: 5px;
    border: solid black;
    border-width: 2px;
    padding: 4px;
    background-color: aqua;
    box-sizing: border-box;
  }
.sidebar {
    width: 30%;
    float: right;
    background-color: yellow;
    margin: 5px;
    border: solid black;
    border-width: 2px;
    box-sizing: border-box;
    padding: 2px;
  }